body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 900px;
    width: 100%;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#chat-box {
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#messages {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.my-message {
    align-self: flex-end;
}

.other-message {
    align-self: flex-start;
}

.sender {
    font-weight: bold;
    margin-bottom: 5px;
}

.time {
    color: #888;
    font-size: 0.8em;
    align-self: flex-end;
}

.text {
    margin: 0;
}
