<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анонимный чат</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container mt-5">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h1>Анонимный чат</h1>
            </div>
            <div id="chat-box" class="card-body">
                <ul id="messages" class="list-group list-group-flush"></ul>
            </div>
            <div class="card-footer">
                <form id="form" class="input-group">
                    <input id="input" autocomplete="off" placeholder="Введите ваше сообщение..." class="form-control">
                    <div class="input-group-append">
                        <button class="btn btn-primary">Отправить</button>
                    </div>
                </form>
                <button id="end-chat" class="btn btn-danger mt-3">Завершить чат</button>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
