<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Анонимный чат</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container text-center mt-5">
        <div class="card p-4 shadow-lg">
            <h1 class="mb-4">Анонимный чат</h1>
            <a href="/chat" class="btn btn-primary btn-lg">Начать чат</a>
        </div>
    </div>
</body>
</html>
